:root body,
:root body[theme-color="indigo"] {
  /* primary */
  --semi-color-primary: rgba(var(--semi-indigo-5), 1);
  --semi-color-primary-hover: rgba(var(--semi-indigo-6), 1);
  --semi-color-primary-active: rgba(var(--semi-indigo-7), 1);
  --semi-color-primary-disabled: rgba(var(--semi-indigo-2), 1);
  --semi-color-primary-light-default: rgba(var(--semi-indigo-0), 1);
  --semi-color-primary-light-hover: rgba(var(--semi-indigo-1), 1);
  --semi-color-primary-light-active: rgba(var(--semi-indigo-2), 1);
  /* secondary */
  --semi-color-secondary: rgba(var(--semi-light-indigo-5), 1);
  --semi-color-secondary-hover: rgba(var(--semi-light-indigo-6), 1);
  --semi-color-secondary-active: rgba(var(--semi-light-indigo-7), 1);
  --semi-color-secondary-disabled: rgba(var(--semi-light-indigo-2), 1);
  --semi-color-secondary-light-default: rgba(var(--semi-light-indigo-0), 1);
  --semi-color-secondary-light-hover: rgba(var(--semi-light-indigo-1), 1);
  --semi-color-secondary-light-active: rgba(var(--semi-light-indigo-2), 1);
  /* info */
  --semi-color-info: rgba(var(--semi-indigo-5), 1);
  --semi-color-info-hover: rgba(var(--semi-indigo-6), 1);
  --semi-color-info-active: rgba(var(--semi-indigo-7), 1);
  --semi-color-info-disabled: rgba(var(--semi-indigo-2), 1);
  --semi-color-info-light-default: rgba(var(--semi-indigo-0), 1);
  --semi-color-info-light-hover: rgba(var(--semi-indigo-1), 1);
  --semi-color-info-light-active: rgba(var(--semi-indigo-2), 1);
  --semi-color-focus-border: rgba(var(--semi-indigo-5), 1);
  /* link */
  --semi-color-link: rgba(var(--semi-indigo-5), 1);
  --semi-color-link-hover: rgba(var(--semi-indigo-6), 1);
  --semi-color-link-active: rgba(var(--semi-indigo-7), 1);
  --semi-color-link-visited: rgba(var(--semi-indigo-5), 1);
}
